USE [master]
GO
IF DB_ID (N'SchoolDB') IS NOT NULL
BEGIN
	EXEC msdb.dbo.sp_delete_database_backuphistory @database_name = N'SchoolDB'
	ALTER DATABASE [SchoolDB] SET  SINGLE_USER WITH ROLLBACK IMMEDIATE
	DROP DATABASE SchoolDB;
END
/****** Object:  Database [SchoolDB]    Script Date: 11/8/2012 6:20:35 PM ******/
CREATE DATABASE [SchoolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolDB', FILENAME = N'E:\Mod02\Labfiles\Databases\Prototype\SchoolDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SchoolDB_Log', FILENAME = N'E:\Mod02\Labfiles\Databases\Prototype\SchoolDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/8/2012 6:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[ClassId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 11/8/2012 6:20:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Class] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Teacher] ([Id])
GO
USE [master]
GO

USE SchoolDB
GO

INSERT [Teacher] ([FirstName], [LastName], [Class]) VALUES('Esther', 'Valle', '3C')
INSERT [Teacher] ([FirstName], [LastName], [Class]) VALUES('David', 'Waite', '4B')
INSERT [Teacher] ([FirstName], [LastName], [Class]) VALUES('Belinda', 'Newman', '2A')
GO

INSERT [Student] ([FirstName], [LastName], [DateOfBirth], [ClassId]) VALUES('Kevin', 'Liu', '10/10/2005', 1)
INSERT [Student] ([FirstName], [LastName], [DateOfBirth], [ClassId]) VALUES('Martin', 'Weber', '9/7/2005', 1)
INSERT [Student] ([FirstName], [LastName], [DateOfBirth], [ClassId]) VALUES('George', 'Li', '8/10/2005', 1)
GO